<h1>{{ title | uppercase }}</h1>
<span>{{ date | date }}</span>

<div class="container">
  <button id="showBooksButton" (click)="showBooks = !showBooks">Mostrar libros</button>
</div>

<div class="container">
  <form (ngSubmit)="addProduct()" #productForm="ngForm">
    <div>
      <input
        id="title"
        name="title"
        type="text"
        [(ngModel)]="newProduct.title"
        placeholder="Título del producto"
        required
      >
    </div>
    <div>
      <input
        id="price"
        name="price"
        type="number"
        [(ngModel)]="newProduct.price"
        placeholder="Precio"
        required
      >
    </div>
    <div>

      <input
        id="description"
        name="description"
        type="text"
        [(ngModel)]="newProduct.description"
        placeholder="Descripción"
        required
      >
    </div>
    <button type="submit">Agregar producto</button>
  </form>

  <div *ngIf="showBooks" class="book-content">
    <book-card *ngFor="let product of products" [title]="product.title" [price]="product.price" [description]="product.description"/>
  </div>

</div>

